@font-face {
    font-family: Yano;
    src: url(./fonts/YanoneKaffeesatz-Medium.woff2) format(woff2);
    font-weight: 400;
    font-display: swap;
}
:root{
    --color-white: aliceblue;
    --color-black: rgb(39, 34, 34);

    --radius: 17px;
    --border: 2px solid var(--color-black);
}

*{
    margin: 0px;
    padding: 0px;
    gap:0px;
}

body{
    background: #478da8;
    background: linear-gradient(90deg, rgba(71, 141, 168, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

input{
    height: 28px;
    border-radius: var(--radius);
    padding-left: 10px;
}

h1, button, div, p, li{
    font-family: Yano sans-serif;
}

a{
    text-decoration: none;
    color: var(--color-white)
}

.wraper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    flex: 1;
}

.b-header-ng-ul > li:nth-child(2){
    margin-left: 10px;
    margin-top: -4px;
}

.b-header-ng-ul > li:nth-child(3){
    margin-left: 20px;
    margin-top: -4px;
}

.b-header-menu-game{
    display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.b-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.b-header-ng-ul{
    list-style-type: none;
    padding-left: 10px;
}

.b-header-menu{
	width: 160px; 
    height: 40px;
    text-align: center;
	position: relative;
    padding-right: 5px;
}
.b-header-menu ul{
    display: none;
	position: absolute;
    list-style-type: none;
}

.b-header-menu ul li{
    display: inline-block;
    text-align: center;
}

.b-header-menu:hover ul{
    display: block;
    cursor: pointer;
}

.main-players{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.mps-btn{
    width: 85px;
    height: 32px;
    border-radius: var(--radius);
}

.main{
    display: flex;
    flex-direction: column;
}

.main-arena{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.main-arena-btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 280px;
    gap:5px;
}

.square{
    width: 90px;
    height: 90px;
    background: transparent;
    border-style: none;
}

.footer{
    margin-top: auto;
}
